*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
button{
    background-color: black;
    font-family: erasdust;
    font-size: 3vw;
    color: white;
    padding: 1vw;
    border-radius: 8px;
    padding: 10px;
    margin: 2vw;
}

.containerButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button:hover{
    border-radius: 10px;
    cursor: pointer;
    border-color: yellowgreen;
    border-width: 2px;
}
