@font-face {
    font-family: shlop;
    src: url(/public/Fonts/shlop.ttf);
}

header {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 10vw;
    width: 100vw;
    }

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}

li a {
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color: antiquewhite;
    font-family: shlop;
}

li a:hover{ 
    text-shadow: 0 0 5px black, 0 0 5px RGB(173, 218, 42),
    0 0 5px RGB(173, 218, 42), 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18;
    font-size: 3.5vw;
}